/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */

body {
    font-family: 'lato', sans-serif, serif;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif, serif;
}

.content {
    margin: 0 auto;
    max-width: 45em;
}

header {
    background-color: rgb(243, 28, 92);
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

header h1 {
    font-size: 2.5em;
    margin: 5px;
    /* margin: 0.12em; */
    
}

.Img {
    height: 150px;
    width: auto;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgb(176, 236, 10);

}

main {
    margin: 15px;
}

.title {
    border-bottom: black 1px solid;
 }

 .title h2 {
    margin-top: 40px;
    margin-bottom: 10px;

 }

 .lessons {
     margin-top: 20px;
     margin-bottom: 40px;
 }

.lessons a {
    color: rgb(127, 18, 199);
}

.lessons a:hover{
    color: #6CB2D1;
    font-weight: bold;
}

footer {
    background-color: rgb(177, 6, 140);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

footer a {
    color: rgb(69, 81, 252);
}

footer a:hover {
    color: rgb(24, 201, 8);
    font-weight: bold;
}

footer a:visited{
    color: rgb(248, 145, 10);
}